.App {
  text-align: center;
  padding: 10px;
}

.timers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.timers-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 15px;
} 